<div class="footer-container">
  <div class="two-items-container">
    <span class="footer-item">Copyright © 2022 ihi-immer</span>
    <a class="footer-item" [routerLink]="['privacy-policy']">{{
      'FooterPrivacyPolicy' | translate
    }}</a>
  </div>
  <div class="two-items-container">
    <span class="footer-item">{{ 'FooterContact' | translate }}</span>
    <span class="footer-item">email@domain.com</span>
  </div>
  <div class="two-items-container">
    <span class="footer-item">UA : +338 00 000 0000</span>
    <span class="footer-item">DE : +49 000000000</span>
  </div>
  <div class="two-items-container">
    <span class="footer-item">FR : +33 000000000</span>
  </div>
</div>
