@import "_colors";
@import "_fonts";
@import "_breakpoints";
@import "_variables";
@import "_mixins";

/* --------------- Common styles --------------------- */
.service-card-container {
  min-height: 250px;
  background-color: $main-light-grey;
  border-radius: $main-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $card-standard-upper-lower-padding $card-standard-side-padding;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* ------------------- Mobile Styles ------------------- */
@media (max-width: $mobile-max-width) {
  .service-card-title {
    font: $h3-mobile;
  }
}

/* ------------------- Tablet Styles ------------------- */
@media (min-width: $tablet-min-width) {
  .service-card-title {
    font: $h3-tablet;
  }
}

/* ------------------ Desktop Styles ------------------------ */
@media (min-width: $desktop-min-width) {
  .service-card-title {
    font: $h3-desktop;
  }
}
