@import "_colors";
@import "_fonts";
@import "_breakpoints";

/* ----------------- Common Styles ----------------- */
// TODO: Rename classes (use dashes)
.nav-bar {
  display: flex;
  background-color: $main-shady-blue;
  padding: 10px 15px;
  align-items: center;
}

.Logo {
  height: 30px;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-item {
  list-style: none;
  margin-left: 20px;
  position: relative;
}

.nav-item-link {
  text-decoration: none;
  color: $main-white;
  font: $navbar-link-desktop;
}
.nav-item-link::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: $main-white;
  transform: scale(0);
}
.nav-item-link:hover::after {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.active-nav-item::after {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.search-bar-container {
  display: flex;
  align-items: center;
}
.SearchIcon {
  margin: 5px;
}
.SearchInput {
  background-color: $main-shady-blue;
  border: none;
  border-bottom: 1px solid $main-white;
  color: $main-white;
  font: $navbar-search-input-desktop;
  width: 0;
  transition: 1s all ease-in-out;
  transform-origin: right;
}
.SearchInput:active,
.SearchInput:focus {
  outline: none;
}
.SearchInputVisible {
  width: 180px;
}
.CloseIcon {
  height: 15px;
  display: none;
  margin: 5px;
}

.language-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-button-container {
  margin-left: auto;
}

/* ----------------- Mobile Styles ----------------- */
@media (max-width: $mobile-max-width) {
  .nav-bar {
    flex-direction: column;
    align-items: stretch;
    height: 50px;
    transition: height 2s ease-in-out;
  }
  .logo-hamburger-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-menu {
    flex-direction: column;
    overflow: hidden;
  }
  .nav-item {
    margin-bottom: 10px;
  }
  .search-bar-container {
    //display: none;
  }
  .language-select-container {
    display: none;
  }

  .nav-menu-visible {
    height: calc(100vh);
    transition: height 2s ease-in-out;
  }
}

/* ----------------- Tablet Styles ----------------- */
@media (min-width: $tablet-min-width) {
  .hamburger-button-container {
    display: none;
  }
}
