<div class="NavBar">
  <img
    class="Logo"
    src="../../assets/images/icons/logo_ihi_light.svg"
    alt="logo"
  />
  <ul class="NavMenu">
    <li class="NavItem">
      <a
        class="NavItemLink"
        routerLink="/"
        routerLinkActive="ActiveNavItem"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "NavbarMenuHome" | translate }}</a
      >
    </li>
    <li class="NavItem">
      <a
        class="NavItemLink"
        routerLink="/services"
        routerLinkActive="ActiveNavItem"
        >Services</a
      >
    </li>
    <li class="NavItem">
      <a
        class="NavItemLink"
        routerLink="/spareparts"
        routerLinkActive="ActiveNavItem"
        >Spare Parts</a
      >
    </li>
    <li class="NavItem">
      <a class="NavItemLink" routerLink="/tips" routerLinkActive="ActiveNavItem"
        >Useful Tips</a
      >
    </li>
  </ul>
  <div class="SearchBarContainer">
    <input
      class="SearchInput"
      #search
      [ngClass]="{ SearchInputVisible: searchBarIsOpen === true }"
      type="text"
      [placeholder]="'NavBarSearchInputPlaceholder' | translate"
    />
    <img
      class="SearchIcon"
      [ngStyle]="{ display: toggleSearchIconDisplay() }"
      src="../../assets/images/icons/search_icon.svg"
      alt="search icon"
      (click)="onClickSearchIcon()"
    />
    <img
      class="CloseIcon"
      [ngStyle]="{ display: toggleCloseIconDisplay() }"
      src="../../assets/images/icons/close_icon.svg"
      alt="close icon"
      (click)="onClickCloseIcon()"
    />
  </div>
  <app-hamburger-button
    [(menuIsOpen)]="navBarMenuIsOpen"
    class="hamburger-button-container"
  ></app-hamburger-button>
  <app-language-select class="LanguageSelectContainer"></app-language-select>
</div>
