<div
  class="nav-bar"
  [ngClass]="{ 'nav-menu-visible': navBarMenuIsOpen === true }"
>
  <div class="logo-hamburger-button-container">
    <img
      class="Logo"
      src="../../assets/images/icons/logo_ihi_light.svg"
      alt="logo"
    />
    <app-hamburger-button
      [(menuIsOpen)]="navBarMenuIsOpen"
      class="hamburger-button-container"
      [ngClass]=""
    ></app-hamburger-button>
  </div>

  <ul class="nav-menu">
    <li class="nav-item">
      <a
        class="nav-item-link"
        routerLink="/"
        routerLinkActive="active-nav-item"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "NavbarMenuHome" | translate }}</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-item-link"
        routerLink="/services"
        routerLinkActive="active-nav-item"
        >Services</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-item-link"
        routerLink="/spareparts"
        routerLinkActive="active-nav-item"
        >Spare Parts</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-item-link"
        routerLink="/tips"
        routerLinkActive="active-nav-item"
        >Useful Tips</a
      >
    </li>
  </ul>
  <div class="search-bar-container">
    <input
      class="SearchInput"
      #search
      [ngClass]="{ SearchInputVisible: searchBarIsOpen === true }"
      type="text"
      [placeholder]="'NavBarSearchInputPlaceholder' | translate"
    />
    <img
      class="SearchIcon"
      [ngStyle]="{ display: toggleSearchIconDisplay() }"
      src="../../assets/images/icons/search_icon.svg"
      alt="search icon"
      (click)="onClickSearchIcon()"
    />
    <img
      class="CloseIcon"
      [ngStyle]="{ display: toggleCloseIconDisplay() }"
      src="../../assets/images/icons/close_icon.svg"
      alt="close icon"
      (click)="onClickCloseIcon()"
    />
  </div>

  <app-language-select class="language-select-container"></app-language-select>
</div>
