<div class="services-container">
  <div class="hero-image-title-container">
    <h1 class="slogan-container">
      <span class="slogan-element">{{ 'ServiceSlogan' | translate }}</span>
    </h1>
  </div>
  <div class="service-container">
    <img
      class="service-image service-image-consulting"
      src="../../assets/images/content/services/services_consulting.webp"
      alt="decorative image" />
    <div class="empty-container"></div>
    <div class="description-container">
      <h2 class="description-title">{{ 'ConsultingTitle' | translate }}</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies
        sapien volutpat dui hendrerit volutpat. Aliquam felis tortor, egestas eu
        maximus at, convallis vitae nunc. Proin enim orci, vehicula sit amet
        quam a, pulvinar vehicula magna. Sed condimentum massa in diam
        consequat, sit amet pretium lorem sollicitudin. Maecenas aliquam dapibus
        imperdiet. Nullam a ornare enim, vel convallis nunc. In vulputate lacus
        non lectus suscipit, non laoreet erat gravida. Sed erat odio, tempus a
        elit nec, fringilla finibus tellus. Proin sed metus in lectus placerat
        pulvinar. Morbi vel lectus ullamcorper neque lacinia mollis sit amet non
        ipsum. In rhoncus aliquet dolor, ut laoreet felis pharetra at.
        Pellentesque aliquet mauris et ipsum sollicitudin, vitae pharetra odio
        tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae; Sed malesuada varius mi sit amet
        euismod.
      </p>
    </div>
  </div>
</div>
