<div class="services-container">
  <div class="hero-image-title-container">
    <h1 class="slogan-container">
      <span class="slogan-element">{{ 'ServiceSlogan' | translate }}</span>
    </h1>
  </div>
  <div class="service-container consulting-service-container">
    <img
      class="service-image service-image-consulting"
      src="../../assets/images/content/services/services_consulting.webp"
      alt="decorative image" />
    <div class="consulting-color-wrapper">
      <div class="empty-container consulting-empty-container"></div>
      <div class="consulting-description-container">
        <h2 class="consulting-description-title">
          {{ 'ConsultingTitle' | translate }}
        </h2>
        <div [innerHTML]="'ConsultingText' | translate"></div>
      </div>
    </div>
  </div>
  <div class="service-container machinery-service-container">
    <img
      class="service-image service-image-machinery"
      src="../../assets/images/content/services/services_machinery.webp"
      alt="decorative image" />
    <div class="machinery-color-wrapper">
      <div class="machinery-description-container">
        <h2 class="machinery-description-title">
          {{ 'MachineryTitle' | translate }}
        </h2>
        <div [innerHTML]="'MachineryText' | translate"></div>
      </div>
      <div class="empty-container machinery-empty-container"></div>
    </div>
  </div>
</div>
