@import "_colors";
@import "_fonts";
@import "_breakpoints";
@import "_variables";
@import "_mixins";

/* --------------- Common styles --------------------- */
.services-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.hero-image-title-container {
  position: relative;
}

.slogan-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  color: $main-red;
  background-color: $lightly-trasparent-white-background;
}
.slogan-element {
  text-align: center;
  flex-shrink: 0;
  width: 100%;
}

/* ------------------- Mobile Styles ------------------- */
@media (max-width: $mobile-max-width) {
  .hero-image-title-container {
    min-height: 425px;
    width: 100%;
    background-image: url("../../assets/images/backgrounds/services/services_background_mobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .slogan-container {
    font: $h1-mobile;
  }
  .service-container {
    padding: $card-standard-side-padding;
  }
  .service-image {
    display: none;
  }
  .empty-container {
    display: none;
  }
}


/* ------------------- Tablet Styles ------------------- */
@media (min-width: $tablet-min-width) {
  .hero-image-title-container {
    min-height: 500px;
    width: 100%;
    background-image: url("../../assets/images/backgrounds/services/services_background_tablet.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .slogan-container {
    font: $h1-tablet;
  }

  /* ----- Consulting Service Styles ----- */
  .consulting-service-container {
    position: relative;
    margin: 100px 50px 50px 0;
    min-height: 500px;
  }
  .consulting-color-wrapper{
    background-color: $main-light-grey;
    display: flex;
  }
  .service-image {
    border-radius: $main-border-radius;
  }
  .service-image-consulting {
    position: absolute;
    width: 50%;
    height: auto;
    top: -50px;
    left: 30px;
  }
  .consulting-description-container {
    width: calc(44% - 30px);
    margin: 15px 3%;
  }
  .consulting-description-title {
    text-align: left;
    margin-left: 0;
  }
  .consulting-empty-container {
    width: calc(50% + 30px) ;
  }

  /* ----- Machinery Service Styles ----- */
  .machinery-service-container {
    position: relative;
    margin: 50px 0 50px 50px;
    min-height: 500px;
  }
  .machinery-color-wrapper {
    background-color: $main-light-grey;
    margin-top: 50px;
    display: flex;
  }
  .service-image-machinery {
    position: absolute;
    right: 30px;
    width: 30%;
    height: auto;
  }
  .machinery-empty-container {
    width: calc(30% + 30px);
  }
  .machinery-description-container{
    width: calc(64% - 30px);
    margin: 15px 3%;
  }
}

/* ------------------ Desktop Styles ------------------------ */
@media (min-width: $desktop-min-width) {
  .hero-image-title-container {
    min-height: 500px;
    width: 100%;
    background-image: url("../../assets/images/backgrounds/services/services_background_desktop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .slogan-container {
    font: $h1-desktop;
  }
}
