<div class="homepage-container">
  <div class="hero-image-title-container">
    <h1 class="slogan-container">
      <span class="slogan-element">We will help you.</span>
      <span class="slogan-element">Ми допоможемо Вам.</span>
      <span class="slogan-element">Wir helfen Ihnen.</span>
    </h1>
  </div>
  <div class="grey-section-outer-container">
    <div class="grey-section-inner-container">
      <h2>{{ "HomeAboutUsTitle" | translate }}</h2>
      <div [innerHTML]="'HomeAboutUsText' | translate"></div>
      <h2>{{ "OurVisionTitle" | translate }}</h2>
      <div [innerHTML]="'HomeAboutUsText' | translate"></div>
    </div>
  </div>
</div>
